# Tutorial 9: Data Preparation to create additional columns with fake data

In this notebook, we will demonstrate how to create additional columns using [Faker](https://faker.readthedocs.io/en/master/index.html)

## Steps:

- Load _creditcard.csv_ into a pandas dataframe
- Use faker to generate additional columns corresponding to dates, ip addresses, longitude, latitude etc.
- Use sklearn **train_test_split** function along with **stratify** option to split this imbalanced data into test and train data sets
- Save the data frames into two separate files: _credit_card_train_new_columns.csv_ , _credit_card_test_new_columns.csv_

In [51]:
import pandas as pd
from sklearn.model_selection   import  train_test_split
from faker import Faker
from tqdm import tqdm
import random

In [52]:
full_path = 'creditcard.csv'
# load the dataset
data = pd.read_csv(full_path, header=None)
y = data.values[:,-1]

In [53]:
column_names = ["V"+str(i) for i in range(30)]
column_names.append("Target")
data.columns = column_names

In [54]:
Faker.seed(0)
fake = Faker()

## Generate time pre and time post

In [55]:
rows_missing_time_variable = random.sample(range(0,len(data)),100)

In [56]:
time_pre_list = list()
time_post_list = list()
for i in tqdm(range(0,len(data))):
    if i not in rows_missing_time_variable:
        time_pre  = fake.date_time_between(start_date='-2w',end_date='-1w')
        time_post = fake.date_time_between(start_date='-1w')
    else:
        time_pre = None
        time_post = None
    time_pre_list.append(time_pre)
    time_post_list.append(time_post)

100%|██████████| 284807/284807 [00:16<00:00, 16782.30it/s]

In [57]:
data['time_pre'] = time_pre_list
data['time_post'] = time_post_list

## Generate credit card expiry date

In [58]:
rows_missing_cc_expiry_date = random.sample(range(0,len(data)),150)

In [59]:
cc_exp_list = list()
for i in tqdm(range(0,len(data))):
    if i not in rows_missing_cc_expiry_date:
        cc_exp = fake.credit_card_expire()
    else:
        cc_exp = None
    cc_exp_list.append(cc_exp)

100%|██████████| 284807/284807 [00:10<00:00, 26487.43it/s]

In [60]:
data['cc_exp'] = cc_exp_list

## Generate three lat long

In [61]:
rows_missing_lat_long = random.sample(range(0,len(data)),200)

In [62]:
lat1_list = list()
lng1_list = list()
lat2_list = list()
lng2_list = list()
lat3_list = list()
lng3_list = list()
for i in tqdm(range(0,len(data))):
    if i not in rows_missing_lat_long:
        lat1, lng1 = fake.latlng()
        lat2, lng2 = fake.latlng()
        lat3, lng3 = fake.latlng()
    else:
        lat1, lng1, lat2, lng2, lat3, lng3 = [None]*6
    lat1_list.append(lat1)
    lng1_list.append(lng1)
    lat2_list.append(lat2)
    lng2_list.append(lng2)
    lat3_list.append(lat3)
    lng3_list.append(lng3)

100%|██████████| 284807/284807 [00:09<00:00, 29052.29it/s]

In [63]:
data['lat1'] = lat1_list
data['long1'] = lng1_list
data['lat2'] = lat2_list
data['long2'] = lng2_list
data['lat3'] = lat3_list
data['long3'] = lng3_list

## Generate IP addresses

In [64]:
rows_missing_ip_addresses = random.sample(range(0,len(data)),120)

In [65]:
ip_list = list()
for i in tqdm(range(0,len(data))):
    if i not in rows_missing_ip_addresses:
        ipv4 = fake.ipv4_public()
    else:
        ipv4 = None
    ip_list.append(ipv4)

100%|██████████| 284807/284807 [00:12<00:00, 23027.99it/s]

In [66]:
data['ip_address'] = ip_list

In [67]:
data

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,time_pre,time_post,cc_exp,lat1,long1,lat2,long2,lat3,long3,ip_address
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,2021-11-21 09:35:20,2021-11-28 19:52:43,05/23,-63.6854615,69.593566,-18.4996875,-38.626559,23.650048,-154.724743,205.48.177.21
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,2021-11-17 05:10:12,2021-11-26 20:47:35,08/30,85.9337915,-21.013523,-18.980459,87.945413,-31.915749,142.318344,202.112.106.195
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,2021-11-22 22:17:52,2021-11-29 14:54:54,07/27,-75.414375,54.554223,71.873338,119.913358,-43.5125265,117.334312,205.171.23.146
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,2021-11-21 15:19:26,2021-11-27 09:43:28,08/27,21.5369055,-27.152603,65.3645265,-24.947704,76.963596,8.058672,152.180.125.189
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,2021-11-22 12:11:50,2021-11-28 01:40:03,10/22,56.766081,-92.074694,65.3931775,-130.101348,-53.835472,70.285303,79.243.112.212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,2021-11-18 23:49:51,2021-11-28 05:45:35,11/24,-42.2205045,104.249109,-13.3536955,-33.133730,-57.0392685,-89.593880,218.81.55.204
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,2021-11-23 09:33:43,2021-11-26 15:04:16,02/28,-47.9293045,-175.749861,81.8573765,121.275732,81.6090285,110.545403,47.6.242.78
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,2021-11-22 17:28:30,2021-11-29 07:26:22,09/29,44.9746255,-104.893998,49.9441675,72.909896,-22.162129,-158.937389,199.170.251.199
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,2021-11-21 18:13:44,2021-11-28 23:46:35,06/26,24.7338885,-109.630949,-6.8203025,-40.904980,-49.857962,146.226254,47.223.108.153
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,2021-11-22 14:14:26,2021-11-30 16:37:18,02/24,-9.814495,-108.373981,-52.736018,124.440346,83.7278235,23.226209,43.199.254.67

In [68]:
df_train,df_test = train_test_split(data,test_size=0.2,stratify=y,random_state=42)

In [72]:
df_train.to_csv("credit_card_train_new_columns.csv",index=False)
df_test.to_csv("credit_card_test_new_columns.csv",index=False)